* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 24px;
    font-family: monospace;
    font-size: 16px;
    background-color: #f7fffb;
    gap: 24px;
}

.topo {
    display: flex;
    align-items: center; 
    border: 2px solid #000;
    border-radius: 8px;
    padding: 16px 24px;
    background: #fff;
}

.logo {
    flex-shrink: 0;
    margin-right: 55px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px; 
    list-style: none;
    flex-grow: 1; 
}

.menu li:first-child {
  margin-left: auto;
}

.btn-entrar {
    background-color: #00e676;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
}

.destaque {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 120px;       
    border: 2px dashed #00e676;
    border-radius: 8px;
    background-color: #e0f8eb;
}

.grade {
    display: flex;
    flex-wrap: wrap; 
    gap: 24px;       
    flex-grow: 1;   
    border: 2px solid #000;
    border-radius: 8px;
    padding: 24px;
    background: #fff;
}

.card {
    display: flex;
    flex-direction: column; 
    flex: 1 1 280px;       
    border: 2px solid #000;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
}

.card-destaque {
    flex: 2 1 280px; 
    background-color: #00e676;
}

.card-conteudo {
    flex-grow: 1;
    margin-bottom: 16px;
}

.card .btn {
    margin-top: auto;
    padding: 8px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

.selo-novo {
    order: -1; 
    align-self: flex-start;
    color: #00e676;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    border: #000 solid 2px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.rodape {
    display: flex;
    gap: 24px; 
    border: 2px solid #000;
    border-radius: 8px;
    padding: 16px 24px;
    background: #fff;
    font-style: bold;
}

.rodape-direito {
  margin-left: auto; 
}

/* Parte 3 Investigação - Flexbox